In [2]:
import pandas as pd
import string, re

# English Text Clean

In [6]:
train = pd.read_csv("/home/hasan/Data Set/tweet-sentiment-extraction/train.csv")

In [7]:
train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [8]:
def clean_text(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [9]:
train['text'] = train['text'].apply(lambda x:clean_text(x))
train['selected_text'] = train['selected_text'].apply(lambda x:clean_text(x))

In [10]:
train

,textID,text,selected_text,sentiment
0,cb774db0d1,id have responded if i were going,id have responded if i were going,neutral
1,549e992a42,sooo sad i will miss you here in san diego,sooo sad,negative
2,088c60f138,my boss is bullying me,bullying me,negative
3,9642c003ef,what interview leave me alone,leave me alone,negative
4,358bd9e861,sons of why couldnt they put them on the rel...,sons of,negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on denver husband l...,d lost,negative
27477,4f4c4fc327,ive wondered about rake to the client has ma...,dont force,negative
27478,f67aae2310,yay good for both of you enjoy the break you...,yay good for both of you,positive
27479,ed167662a5,but it was worth it,but it was worth it,positive
27480,6f7127d9d7,all this flirting going on the atg smiles ...,all this flirting going on the atg smiles yay...,neutral

# Bengali Text Clean

In [13]:
data = pd.read_csv("/home/hasan/Desktop/Code to keep on Github/Bengali Sentiment Bert/Bengali Sentiment.csv")

In [14]:
data.head()

,data,title_x,title_y,title,value,tag
0,লিখার সময় পারলে সত্য লিখার অভ্যাস শিখুন।,-1,-1,2,-1,কিছুটা নেতিবাচক
1,এটা কেন হচ্ছে? সংশ্লিষ্ট সকলের ডিপ্রেশনের ফলে?...,-1,-1,-1,-1,কিছুটা নেতিবাচক
2,আমাদের দেশের স্বাভাবিক অর্থনৈতিক গতিপ্রবাহকে ব...,-1,-2,-2,-5,নিশ্চিত নেতিবাচক
3,চুরি নয় লুটপাট।,-2,-2,-2,-6,নিশ্চিত নেতিবাচক
4,ইসলামী ব্যাংকের বর্তমান অবস্থা দেখে মনে হয় শাস...,0,-1,0,0,নিরপেক্ষ

In [19]:
re_punc = re.compile('[%s]' % re.escape(string.punctuation))
re_print = re.compile('[^%s]' % re.escape(string.printable))

def clean_text(text):
    line = text.split()
    
    # remove punctuation from each token
    line = [re_punc.sub('', w) for w in line]
    
    #line = line.replace('?','')
    line = [item.replace("?", "") for item in line]
    #line = line.replace('।','')
    line = [item.replace("।", "") for item in line]
    #line = line.replace('!','')
    line = [item.replace("!", "") for item in line]
    
    line = ' '.join(line)
    
    return line

In [20]:
data['data'] = data['data'].apply(lambda x:clean_text(x))
data['tag'] = data['tag'].apply(lambda x:clean_text(x))

In [21]:
data

,data,title_x,title_y,title,value,tag
0,লিখার সময় পারলে সত্য লিখার অভ্যাস শিখুন,-1,-1,2,-1,কিছুটা নেতিবাচক
1,এটা কেন হচ্ছে সংশ্লিষ্ট সকলের ডিপ্রেশনের ফলে ন...,-1,-1,-1,-1,কিছুটা নেতিবাচক
2,আমাদের দেশের স্বাভাবিক অর্থনৈতিক গতিপ্রবাহকে ব...,-1,-2,-2,-5,নিশ্চিত নেতিবাচক
3,চুরি নয় লুটপাট,-2,-2,-2,-6,নিশ্চিত নেতিবাচক
4,ইসলামী ব্যাংকের বর্তমান অবস্থা দেখে মনে হয় শাস...,0,-1,0,0,নিরপেক্ষ
...,...,...,...,...,...,...
13797,ভালভাবে নির্বাচন দেন,0,0,0,0,নিরপেক্ষ
13798,বঙ্গবন্ধুর খুনীদের পারবেন না এই মূহূর্তে অবশ্য...,0,0,0,0,নিরপেক্ষ
13799,আইনকে তার নিজস্ব গতিতে চলতে দেওয়া হোক,0,0,0,0,নিরপেক্ষ
13800,দেশের প্রশাসন নিরপেক্ষ না এমতাবস্থায় তারেক জিয়...,0,0,2,0,নিরপেক্ষ
13801,সেই ২১ আগস্টের কারিগর বিএনপির রা আজ আমাদের গনত...,0,0,-2,0,নিরপেক্ষ